In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

**List containing all sections of an article:**

In [ ]:
df = pd.read_csv('key_report_1.csv')
df.head()

    ItemID                                         Unnamed: 1
0  7985785  title,abstract,background,methods,results,conc...
1  4837660  title,abstract,background,case_presentation,co...
2  4466444  title,abstract,background,methods,results,conc...
3  8620634  title,abstract,background,case_presentation,co...
4  8420016  title,abstract,background,methods,results,conc...

**Find articles containing both 'abstract' and 'summary':**

In [ ]:
def find_sections(data):
  all_sec = data.split(',')
  if ('abstract' and 'summary') in all_sec:
    return 1

  return 0

In [ ]:
df['isPresent'] = df['Unnamed: 1'].apply(find_sections)

In [ ]:
df['isPresent'].sum()

126

In [ ]:
#df.to_csv('key_present.csv')